.App {}

h1 {
  color: white;
}

.gradient-red {
  background: linear-gradient(to right, red, orange);
}

.gradient-purple {
  background: linear-gradient(to right, #654ff0, #34e5ff);
}

.highscores {
  border: 4px solid;
  border-radius: 5px;
  height: 10rem;
  width: 80%;
  margin: auto;
  /* margin-top: 3rem; */
}

.countdown {
  border: 4px solid;
  border-radius: 5px;
  height: 3rem;
  width: 36rem;
  margin: auto;
  margin-top: 1rem;
}

.gradient {
  height: 100%;
  width: 100%;
  background: rgb(132, 194, 102);
  background: linear-gradient(90deg, rgba(132, 194, 102, 1) 30%, rgba(255, 171, 0, 1) 50%, rgba(255, 171, 0, 1) 82%, rgba(235, 20, 13, 1) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

/* 
  .countdown::before {
    background: rgb(255, 255, 255);
  } */

@media (prefers-reduced-motion: no-preference) {

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}